<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465272648945-lk68v6duefsb40peld5hs69qnkg78kl7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465272648945-lk68v6duefsb40peld5hs69qnkg78kl7</string>
	<key>API_KEY</key>
	<string>AIzaSyCDRAohIPCcIcbVOLGXeX31AI_xS3zcwb8</string>
	<key>GCM_SENDER_ID</key>
	<string>465272648945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.ufpe.academy.FilaMed</string>
	<key>PROJECT_ID</key>
	<string>filamed-5e07b</string>
	<key>STORAGE_BUCKET</key>
	<string>filamed-5e07b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465272648945:ios:03b3bead8080113fe12550</string>
	<key>DATABASE_URL</key>
	<string>https://filamed-5e07b.firebaseio.com</string>
</dict>
</plist>